<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/avtapp"
        android:label="Music Lỏ"
        android:roundIcon="@drawable/avtapp"
        android:supportsRtl="true"
        android:theme="@style/Theme.Musicapp">

        <activity
            android:name=".TrangChuActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".DangNhapActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />

        <activity
            android:name=".DangKyActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />

        <activity
            android:name=".DanhSachBaiHatActivity"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" />

        <activity
            android:name=".PhatNhacActivity"
            android:exported="false" />

        <activity
            android:name=".DanhSachYeuThichActivity"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" />

        <activity
            android:name=".TrangCaNhanActivity"
            android:exported="false" />

        <activity
            android:name=".TrangQuanTriActivity"
            android:exported="false" />

        <activity
            android:name=".QuanLyBaiHatActivity"
            android:exported="false" />

        <activity
            android:name=".ThemSuaBaiHatActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />

        <activity
            android:name=".QuanLyNguoiDungActivity"
            android:exported="false" />

        <activity
            android:name=".GuiPhanHoiActivity"
            android:exported="false" />

    </application>

</manifest>